template(name="productMap")
	.productMap.container
		+buttonToProductsList
		button.btn.btn-success.btn-raised(name="import-csv") Käsitsi andmete import
		.panel
			.panel-body
				+pagesNav
				+pages
				+pagesNav