template(name="productMap")
	.productMap.container
		button.btn.btn-success.btn-raised(name="import-csv") Käsitsi andmete import
		.panel
			.panel-body
				+pagesNav
				//- table is actually formed in router.js
				+pages
				+pagesNav
