template(name="productMap")
	.productMap.container
		button.btn.btn-success.btn-raised(name="import-csv") Impordi CSV
		//- label.btn.btn-success.upload-file-label
		//- 	input(type="file" accept=".csv" id="upload-file")
		//- 	p Impordi CSV
		.panel
			.panel-body
				table.table
					thead
						tr
							th Kood
							th Kirjeldus
							th Takistus
							th Jahtumise aeg
					tbody
						each products
							tr(data-map-id="{{_id}}")
								td {{code}}
								td {{description}}
								td(class="{{#if $not resistance}}bg-danger{{/if}}")
									input.form-control.red-if-none(name="resistance" value="{{resistance}}")
								td(class="{{#if $not cooldownTime}}bg-danger{{/if}}")
									input.form-control.red-if-none(name="cooldownTime" value="{{cooldownTime}}")
