template(name="productMapItem")
	tr(data-map-id="{{_id}}")
		td {{code}}
		td {{description}}
		each measurements
			td(class="{{#if $not value}}bg-yellow{{/if}}")
				input.form-control.red-if-none.measurement-input(type="number" name=name value=value)
		td(class="{{#if $not cooldownTime}}bg-yellow{{/if}}")
			input.form-control.red-if-none(type="number" name="cooldownTime" value="{{cooldownTime}}")