template(name="stats")
    .stats
        h2(style='text-align:center') Viimased 30 
        +c3(data=statsLast8 id="recentsChart")
        //- +c3(data=statsLastMonth id="monthChart")
        div(style='margin:40px 0;')
           hr
        h2(style='text-align:center') Aasta
        +c3(data=statsLastYear id="yearChart")
